<ul>
  <li><a href='http://sallyslocum.com'>sallyslocum.com</a></li>
  <li><a target='_blank' href='http://www.facebook.com/sharer.php?u=http://sallyslocum.com&t=Remember%20Sally%20Kennedy%20Slocum'><i class="icon-facebook"></i>facebook</a></li>
  <li><a target='_blank' href="https://twitter.com/share?text=Remember%20Sally%20Slocum&url=http://sallyslocum.com" class="custom-twitter-share-button" data-lang="en"><i class="icon-twitter"></i>twitter</a></li>
  <li><a href='mailto:slocum+sally@gmail.com'><i class="icon-envelope"></i>contribute memory</a></li>
  <li><a href="/about"><i class="icon-question-sign"></i>about this site</a></li>
</ul>
